body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #424242;
	padding: 12px;
	font-size: 12px;
}

#header {
	padding-bottom: 4px;
	border-bottom: double #424242;
}

.header{
	color: #8E44AD;
	text-transform: uppercase;
}

#name {
	font-size: 32px;
}

.contact {
	display: inline-block;
	width: 32.8%;
}

#email {
	text-align: center;
}

#github {
	text-align: right;
}

.categoryHeader {
	font-size: 18px;
	margin-bottom: 4px;
}

#sidebar {
	padding: 12px 4px 12px 4px;
	width: 100%;
	display: inline-block;
	border-bottom: double #424242;
}

.list {
	margin: 0;
	padding-left: 24px;
	display: inline-block;
}

#education {
	display: inline-block;
	padding-bottom: 12px;
	width: 40%;
	border-right: double #424242;
}

#skills {
	display: inline-block;
	padding-left: 12px;
	padding-bottom: 12px;
}

.subPoint {
	padding-left: 16px;
	font-weight: 100;
	list-style-type: none;
	color: #616161;
}

#experience {
	padding: 12px 4px 4px 4px;
}

.work {
	margin-bottom: 12px;
	margin-left: 12px;
	margin-right: 16px;
}

.workInfo {
	margin-bottom: 4px;
}

.work .list {
	padding-left: 32px;
	display: block;
}

.info {
	display: inline-block;
	font-size: 16px;
}

.title {
	font-weight: 700;
}

.title, .place {
	width: 30%;
	font-size: 16px;
}

.duties li {
	text-align: justify;
}

